#tweetMedia {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 1;
  height: 285px;
  width: 510px;
  border-radius: 15px;
  border-style: solid;
  border-color: lightgrey;
  border-width: 1px;
  overflow: hidden;
}

#mediaRow {
  width: 100%;
  height: 100%;
}

#iconContainer {
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

#buttonIcon {
  position: relative;
}

#mediaContainer:nth-last-child(1) {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#mediaContainer:nth-last-child(2),
#mediaContainer:nth-last-child(2) ~ * {
  position: relative;
  overflow: hidden;
  width: 50%;
  height: 100%;
}

#mediaContainer:nth-last-child(3) {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 50%;
}

#mediaContainer:nth-last-child(3) ~ * {
  position: relative;
  overflow: hidden;
  flex-direction: column;
  height: 50%;
  width: 50%;
}

#mediaContainer:nth-last-child(4),
#mediaContainer:nth-last-child(4) ~ * {
  position: relative;
  overflow: hidden;
  width: 50%;
  height: 50%;
}

#imageUploaded {
  width: auto;
  height: auto;
  margin: 0%;
  position: absolute;
}
