#container {
  display: flex;
  flex-direction: row;
}

#sender {
  margin: 0;
}

#messagePanel {
  width: 600px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

#border {
  height: 10px;
  width: 600px;
  background-color: rgb(230, 236, 240);
}

#navbarContainer {
  position: sticky;
  top: 0px;
  height: 100vh;
}
