@media only screen and (max-width: 750px) {
  #tab {
    display: none;
  }
}

#tab {
  margin: auto;
  height: 100vh;
  min-width: 0px;
  position: sticky;
  top: 0%;
}

#sideContainer {
  width: auto;
}

#navBar {
  height: 100%;
  width: 100%;
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  border-color: rgb(230, 236, 240);
  justify-content: space-around;
}

#tabContainer {
  color: black;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  text-align: left;
  margin: auto;
}

#tabIcon {
  width: 40px;
  height: 40px;
  margin: 0%;
  padding: 0%;
}

#tabName {
  margin: auto auto auto 2%;
  width: auto;
}
