@media only screen and (max-width: 640px) {
  #tabName {
    display: none;
  }
}

#tab {
  height: 100vh;
}

#navBar {
  height: 100%;
  border-style: solid;
  border-width: 0px 1px 1px 0px;
  border-color: rgb(230, 236, 240);
  justify-content: space-around;
}

#tabContainer {
  width: fit-content;
  margin-left: 15px;
  margin-right: 15px;
  color: black;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  text-align: left;
  transition: background-color 0.25s, color 0.25s;
  border-radius: 30px;
}

#currentPath {
  color: rgba(29, 161, 242, 1);
}

#tabContainer:hover {
  background-color: rgba(29, 161, 242, 0.1);
  color: rgba(29, 161, 242, 1);
}

#tabIcon {
  width: 40px;
  height: 40px;
  margin: 0%;
  padding: 0%;
}

#tabName {
  margin: auto auto auto 2%;
  width: auto;
}
